/* bugs */
/*  - chart responsive in height 
    -  */
/* bugs */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F7F3EA;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-align: left;   
    text-transform: uppercase; 
}

a {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding-top: 7px;
}

hr { 
    width:87px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

img {
    height: 190px;
    width: 190px;
    /* responsive */
    max-width: 100%;
    min-width: 60px;
    height: auto;
}

.button {
    background-color: #87509C;
    color: #F7F3EA;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 4px 18px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px 18px;
}

.btn-home {
    background-color: #EB7D4B;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.0002px;
    line-height: 27px;
    padding: 10px 30px;
    border: none;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #643A79;
}

.container {
    width: 80%;
    /* background-color: yellow; */ /*for debug*/
    /* to center the container */
    margin-right: auto; 
    margin-left: auto;
    max-width: 1140px; /*to ensure width for different screens*/
    padding-top: 150px;
    padding-bottom: 106px;
}

/* Header */
.header {
    background-color: #87509C;
    position: fixed; /* so that it keeps there*/
        left: 0;
        top: 0;
        z-index: 10;
    width: 100%; 
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px 15px 0px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li a {
    padding-right: 10px;
    padding-left: 10px;
}

.menu a:hover {
    background-color: #643A79;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Header */

/* Home */
.home {
    background-color: #87509C;
    height: 100vh;
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    padding-bottom: 20px;
}
/* Home */

/* Services */
.services {
    background-color: #17C2A4;
}

.services-content {
    width: 100%;
    padding: 106px 80px 106px 80px;
    display: flex;
    flex-direction: column;
}

.services-content h3 {
    color: white;
    /* word-wrap: break-word; */
}

.services-content hr {
    background: #000000;
    opacity: 0.15;
}

.services-content p {
    color: white;
    padding-left: 180px;
    padding-right: 180px;
}

.services-specification {
    width: 100%;
    padding-top: 40px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.services-specification img{
    width: auto;
    height: auto;
}

.services-specification div {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

.col {
    width: 30%;
    /* max-width: 100%; */
}

.services-specification h3 {
    /* background-color: yellow;  */
    text-align: center;
    padding: 10px;
}

.services-specification p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; 
    padding: 0;
}
/* Services */


/* Team */
.team {
    background-color: #E7F1F8;
}

.team h2 {
    color: #3C4761;
}

.team-specification {
    width: 100%;
    padding-top: 40px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.team hr {
    background: #BDD1DF;
    opacity: 0.75;
}

.team p {
    color: #3C4761;
}

.team-specification div {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

.team h3 {
    color: #27283D;
    text-transform: capitalize;
    text-align: center;
}

.team h4 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #30BAE7;
}

.team img {
    border-radius: 50%;
}

.team-icons {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}

.team-icons ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.team i {
    color: #000000;
    font-size: 50px;
}
/* Team */

/* Skills */

.skills {
    background-color: #FFFFFF;
}

.skills-content{
    padding-bottom: 100px;
}

.skills-content h2,
.skills-content h3,
.skills-content p {
    color: #3C4761
}

.skills-content hr {
    background-color: #DFE8ED;
}

.skills-specification {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.skills-specification div{
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

.skills-specification h3 {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

:root {
    --size: 200px;
    --bord: 0px;
}

.chart {
    width: var(--size);
    height: var(--size);
    margin: 1em auto;
    border-radius: 50%;
    /* background-image: conic-gradient(lightseagreen var(--value), lightgrey var(--value)); */
    /* -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--bord)),#fff calc(100% - var(--bord) + 1px));
    mask:radial-gradient(farthest-side,transparent calc(100% - var(--bord)),#fff calc(100% - var(--bord) + 1px)); */
    display: flex;
    justify-content: center;
    align-items: center;

    /* responsive */
    max-width: 100%;
}

.chart::after {
    width: calc(100% - var(--bord));
    height: calc(100% - var(--bord));

    background: white;
    border-radius: inherit;

    content: "75%";
    color: #3C4761;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 76px;

    /* responsive */
    max-width: 100%;
}

.x-65 {
    --value: 65%;
    background-image: conic-gradient(#3376bd var(--value), lightgrey var(--value));
}

.x-65::after {
    content: "65%";
}

.x-70 {
    --value: 70%;
    background-image: conic-gradient(#edae49 var(--value), lightgrey var(--value));
}

.x-70::after {
    content: "70%";
}

.x-85 {
    --value: 85%;
    background-image: conic-gradient(#e63946 var(--value), lightgrey var(--value));
}

.x-85::after {
    content: "85%";
}

.x-90 {
    --value: 90%;
    background-image: conic-gradient(#00798c var(--value), lightgrey var(--value));
}

.x-90::after {
    content: "90%";
}
/* Skills */

/* About */
.about {
    background-color: #D74680;
}

.about-content {
    padding-bottom: 100px;
    justify-self: center;
}

.about-content h2,
.about-content h3,
.about-content p {
    color: white;
}

.about-content hr {
    background: #000000;
    opacity: 0.15;
}

.about-specification {
    display: grid;
        grid-template-columns: auto auto;
        column-gap: 50px;
        row-gap: 50px;
    padding-top: 50px;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8); */
    font-size: 30px;
    text-align: center;
    /* padding: 20px; */

    display: grid;
        grid-template-columns: auto auto;
        column-gap: 20px;
        max-width: 100%;
}

.grid-item img {
    /* border: 1px solid #00798c; */
    border-radius: 50%;
    align-self: center;
    max-width: 100px;
}

.grid-item-right {
    /* border: 1px solid #00798c; */
    max-width: 100%;
}

.grid-item-right p
{
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    font-style: italic;
    text-align: left;
}

.grid-item-right h3
{
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    text-transform: capitalize;
    padding-left: 0;
    padding-bottom: 0;
    text-align: left;
}

.grid-item-right h4 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFDD99;
    text-align: left;
}

/* About */

/* Contact */
.contact {
    background-color: #3C5499;
}

.contact-content {
    display: flex;
        flex-direction: column;
    padding-bottom: 100px;
}

.contact-content h2,
.contact-content h3,
.contact-content p {
    color: white;
}

.contact-content hr {
    background: #273A71;
}

.contact-specification {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-specification form {
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact-specification input {
    background-color: #273A71;
    border-radius: 10px;
    border: none;
    Height: 56px;
    padding: 15px 10px;
    margin: 15px 10px;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.contact-specification input::placeholder,
.contact-specification input:focus {
    color: white;
}

.contact-specification textarea {
    background-color: #273A71;
    border-radius: 10px;
    border: none;
    Height: 300px;
    padding: 15px 10px;
    margin: 15px 10px;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.contact-specification textarea::placeholder,
.contact-specification textarea:focus {
    color: white;
}

.btn-send {
    background-color: #30BAE7;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.0002px;
    line-height: 27px;
    padding: 10px 30px;
    border: none;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
    justify-self: center;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #643A79;
}
/* Contact */

/* Footer */
.footer {
    background-color: #344B8E;
    width: 100%; 
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.footer-container a:hover {
    background-color: #344B8E;
    color: #30BAE7;
}

.footer-container .copyright {
    padding: 10px 0px 0px 0px;
}

/* Footer */ 


/* Responsive */
@media screen and (max-width: 740px) {
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 10px;
    }
    .header-container  {
        flex-direction: column;
        /* width: auto; */
    }
    .logo {
        align-items: center;
        padding-bottom: 10px;
    }
    .home-content{
        padding-top: 180px;
    }
    .services-content p {
        padding-left: 3%;
        padding-right: 3%;
    }
    .about-specification {
        display: grid;
            grid-template-columns: auto;
    }
}
/* Responsive */