/* bugs */
/*  - line over when scroll
    -  */
/* bugs */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: #F7F3EA;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
}

.container {
    width: 80%;
    /* background-color: yellow; */ /*for debug*/
    margin-right: auto; /*to center the container*/
    margin-left: auto;
    max-width: 1140px; /*to ensure width for different screens*/
    padding-top: 106px;
    padding-bottom: 106px;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    text-align: center;
    text-align: left;   
    text-transform: uppercase; 
}

a {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    background-color: #643A79;
    border-radius: 5px;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding-top: 7px;
}

hr { 
    width:87px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.button {
    background-color: #87509C;
    color: #F7F3EA;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 4px 18px;
    border: none;
    box-sizing: border-box;
    border-radius: 4px 18px;
}

.btn-home {
    background-color: #EB7D4B;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18.0002px;
    line-height: 27px;
    padding: 10px 30px;
    border: none;
    box-sizing: border-box;
    width:fit-content;
    border-radius: 5px;
}

.button:hover {
    background-color: #643A79;
}

/* Header */
.header {
    background-color: #87509C;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; /* so that it keeps there*/
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px 15px 0px;
}

.logo {
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    margin-right: auto;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li a {
    padding-right: 10px;
    padding-left: 10px;
}
/* Header */

/* Home */
.home {
    background-color: #87509C;
    height: 100vh;
}

.home-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1 {
    padding-bottom: 20px;
}
/* Home */

/* Services */
.services {
    background-color: #17C2A4;
}

.services-content {
    width: 100%;
    padding: 106px 80px 106px 80px;
    display: flex;
    flex-direction: column;
}

.services-content h3 {
    color: white;
}

.services-content hr {
    background: #000000;
    opacity: 0.15;
}

.services-content p {
    color: white;
    padding-left: 180px;
    padding-right: 180px;
}

.services-specification {
    width: 100%;
    padding-top: 40px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.services-specification div {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

.col {
    width: 30%;
}

.services-specification div h3 {
    /* background-color: yellow;  */
    text-align: center;
    padding: 10px;
}

.services-specification div p {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; 
    padding: 0;
}
/* Services */


/* Team */
.team {
    background-color: #E7F1F8;
}

.team h2 {
    color: #3C4761;
}

.team-specification {
    width: 100%;
    padding-top: 40px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.team hr {
    background: #BDD1DF;
    opacity: 0.75;
}

.team p {
    color: #3C4761;
}

.team-specification div {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

.team h3 {
    color: #27283D;
    text-transform: capitalize;
    text-align: center;
}

.team h4 {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #30BAE7;
}

.team img {
    border-radius: 50%;
    height: 190px;
}

.team-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.team i {
    color: #000000;
    font-size: 50px;
    padding: 0px 5px;
}
/* Team */

/* Skills */

.skills {
    background-color: #FFFFFF;
}

.skills-content{
    padding-bottom: 100px;
}

.skills-content h2,h3,p {
    color: #3C4761;
}

.skills-content hr {
    background-color: #DFE8ED;
}

.skills-specification {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
        flex-direction: row;
        /* column-gap: 50px; */
        justify-content: space-around;
}

.skills-specification div,h3 {
    /* background-color: black;  */
    text-align: center;
    padding: 20px;
}

:root {
    --size: 200px;
    --bord: 0px;
}

.chart {
    width: var(--size);
    height: var(--size);
    margin: 1em auto;
    border-radius: 50%;
    /* background-image: conic-gradient(lightseagreen var(--value), lightgrey var(--value)); */
    /* -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--bord)),#fff calc(100% - var(--bord) + 1px));
    mask:radial-gradient(farthest-side,transparent calc(100% - var(--bord)),#fff calc(100% - var(--bord) + 1px)); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart::after {
    width: calc(100% - var(--bord));
    height: calc(100% - var(--bord));
    background: white;
    border-radius: inherit;

    content: "75%";
    color: #3C4761;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 76px;
}

.x-65 {
    --value: 65%;
    background-image: conic-gradient(#3376bd var(--value), lightgrey var(--value));
}

.x-65::after {
    content: "65%";
}

.x-70 {
    --value: 70%;
    background-image: conic-gradient(#edae49 var(--value), lightgrey var(--value));
}

.x-70::after {
    content: "70%";
}

.x-85 {
    --value: 85%;
    background-image: conic-gradient(#e63946 var(--value), lightgrey var(--value));
}

.x-85::after {
    content: "85%";
}

.x-90 {
    --value: 90%;
    background-image: conic-gradient(#00798c var(--value), lightgrey var(--value));
}

.x-90::after {
    content: "90%";
}
/* Skills */